*{
    margin: 0; 
    padding: 0;
}
body{
    padding: 0; 
    margin: 0; 
    z-index: 1; 
    background-color: #362419c1;
} 
#head{
    width: 100vw; 
    height: 8vh; 
    background-color: rgba(39, 38, 31, 0.745); 
    font-size: 4vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 900; 
    position: sticky; 
    top: 0px; 
    color: aliceblue;
} 
#header{
    position: sticky; 
    top: 0px; 
    z-index: 3; 
} 
#menu1{
    height: 40px; 
    width: 40px; 
    background-color: aqua; 
    position: absolute; 
    top: 17px; 
    left: 10px;
}  
.op{
    height: 40px; 
    width: 60vw; 
    background-color: rgba(39, 38, 31, 0.903); 
    position: relative; 
    top: 0vh; 
    left: -80vw; 
    display: flex; 
    transition: 1s; 
    margin: 2px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 700; 
    font-size:3vh ; 
    justify-content: center; 
    color: white;
}   
#img1{
    width: 200%; 
    height: 70%; 
    position: fixed; 
    top: 0px; 
    z-index: -1; 
    filter:blur(2px); 
    left: -2px;
}
 #text1{
     color: aliceblue; 
     font-weight: bold; 
     background-color: rgba(0, 0, 0, 0.667); 
     width: 70%; 
     display: flex; 
     position: fixed; 
     justify-content: center; 
     align-items: center; 
     left: 15%; 
     top: 30vh; 
     height: 15vh;  
     font-size: 3.2vh; 
     padding: 10px; 
     outline: 3px white solid; 
     z-index: -1;

 } 
 .burgers{
     width: 100%; 
     background-image:linear-gradient(to right, #362419, #362419d2); 
     height: 120px; 
     z-index: 1; 
     position: relative;
     top: 60vh; 
     outline: 1px white solid; 
     color: white; 
     
 } 
 .bmg{
     position: relative; 
     left: 0px; 
     width: 40%; 
     height: 100%; 
     border-right: white solid 1px; 
 } 
 #whiteback{
     background-color: rgb(102, 98, 92); 
     min-height: 79%; 
     overflow: hidden; 
     width: 100%; 
     z-index: 0; 
     position: absolute; 
     top: 69%;
 }
span{
    font-size: 1.9vh; 
    position: relative; 
    top: -80%; 
    left: 41.5%; 
    font-family:sans-serif ;
    display: block; 
    width: 57%; 
    line-height: 96%;
} 
.container{
    z-index: 1;
    height: 160px; 
    width: 100vw; 
    background-image:linear-gradient(to right, #362419, #362419d2);
    position: absolute; 
    top: 69vh; 
    display: flex;  
    overflow-y: hidden; 

}
.scrollb{
   
    background-color: transparent;  
    height: 100%; 
    min-width: 150px; 
    border: 1px solid rgba(203, 195, 195, 0.678);  
    padding: 20px; 
    box-sizing: border-box; 
    position: relative; 
    top: 0.1vh;     
    transition: 1s;
} 
.bmg2{
    position: relative; 
    left: -36px;  
    top: -2vh;
    width: 170%;
    overflow: hidden;
    height: 96%; 
    object-fit:fill;  
    

}   
.desc{
    color: white; 
    font-size: 20px; 
    position: relative; 
    top: -2vh; 
    left: 5vw; 
    width: 100%;
}  
.scrollb:hover{
    min-width: 240px; 
    z-index: 5;
}
